<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="#">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_5lFisntpyXJSeccu5NN14dQLO8MgK4q3GQ&usqp=CAU"
          height="30"
          alt="aw Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  <small class="bg-warning text-dark text-center">Website work in progress!</small>
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        (click)="toggleNavMenu()"
      >
       <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="toggleIt">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="#">AW</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Sign Up</a>
          </li>
        </ul>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->